h1{
    font-size:282x;
    text-transform:uppercase;
 }

 #position{
    font-size:18px;
    font-weight:bold;
 }

 .summary{
    line-height:20px;
 }

 h2{
    color:#2F5A78;
    font-size:20px;
 }

 .experience{
 }

 header, body{
    font-family:calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
 }

 header{
   text-align:center;
 }

 #copyright{
   text-align:center;
 }