h1{
    font-size:28px;
    text-transform:uppercase;
 }

 nav{
   word-spacing: 10px;
 }

 #position{
    font-size:18px;
    font-weight:bold;
 }

 .summary{
    line-height:20px;
 }

 h2{
  color:#2F5A78;
  font-size:20px;
  border-bottom:1px solid #2F5A78;
  padding-bottom:2px;
}
 header, body{
    font-family:calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
 }

 header{
   text-align:center;
   /* background-color:#eeeeee; */
   padding: 2px 0px;
 }

 #copyright{
   text-align:center;
 }

 a:link {
   text-decoration: none;
   color:#4890c4;
 }
 
 a:visited {
   text-decoration: none;
   color:#4890c4;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
 a:active {
   text-decoration: underline;
   color:orangered;
 }

 #about p{
   padding: 10px 70px 10px 70px;
 }

footer{
   position:fixed;
   left:10px;
   bottom:0;
   width:100%;
   /* background-color:#eeeeee; */
}
 
 /*html{
   text-transform:lowercase;
 }